.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #1f2937;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
}

.nav-links a:hover {
  color: #0ea5e9;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.login-btn,
.register-btn,
.admin-btn {
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.login-btn {
  background: #0ea5e9;
}

.register-btn {
  background: #059669;
}

.admin-btn {
  background: #ef4444;
}
.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}